<!DOCTYPE html>
<html>
<head>
    <title></title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/view">View</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/create">Create</a>
        </li>
      </ul>
    </nav>
    <h1 class="text-center">Create Gif</h1>
    <p class="text-center">Make a Gif to describe your day!</p>
    <form style="margin-left:100px;" action="">
	  <label for="fword">First word:</label><br>
	  <input type="text" id="fword" name="fword"> <br>
	  <label for="sword">Second word:</label> <br>
	  <input type="text" id="sword" name="sword"><br>
	  <label for="tword">Third word:</label> <br>
	  <input type="text" id="tword" name="tword"><br>
	  <input type="submit" value = "Generate Gif!">
	</form>
    <img src= "out.gif">
</body>
</html>